[YOLO]
IMAGE_H             = 512
IMAGE_W             = 512
GRID_H              = 16
GRID_W              = 16
BOXES               = 5
CLASSES             = 7
MIN_SCORE           = 0.5
MIN_IOU             = 0.45
ANCHORS             = [0.57273, 0.677385, 1.87446, 2.06253, 3.33843, 5.47434, 7.88282, 3.52778, 9.77052, 9.16828]

[TRAINING]
TRAIN_BATCH_SIZE    = 10
VAL_BATCH_SIZE      = 10
EPOCHS              = 100

[DIR]
IMAGES              = ./data/VOCdevkit/VOC2012/JPEGImages/
ANNOTATIONS         = ./data/VOCdevkit/VOC2012/Annotations/