<nav class="navbar">
    <ul class="nav-list">
        <li class="nav-item nav-user">
            <fa-icon class="nav-item-icon" [icon]="fa.profile" size="lg"></fa-icon>
            <span class="nav-item-text">Angel Penchev</span>
        </li>
        <li class="nav-item">
            <fa-icon class="nav-item-icon" [icon]="fa.map" size="lg"></fa-icon>
            <span class="nav-item-text">Map Overview</span>
        </li>
        <li class="nav-item">
            <fa-icon class="nav-item-icon" [icon]="fa.chart" size="lg"></fa-icon>
            <span class="nav-item-text">Statistics</span>
        </li>
        <li class="nav-item">
            <fa-icon class="nav-item-icon" [icon]="fa.traffic_light" size="lg"></fa-icon>
            <span class="nav-item-text">Manage Traffic Lights</span>
        </li>
        <li class="nav-item">
            <fa-icon class="nav-item-icon" [icon]="fa.users" size="lg"></fa-icon>
            <span class="nav-item-text">Manage Users</span>
        </li>
        <li class="nav-item">
            <fa-icon class="nav-item-icon" [icon]="fa.settings" size="lg"></fa-icon>
            <span class="nav-item-text">Settings</span>
        </li>
        <li class="nav-item">
            <fa-icon class="nav-item-icon" [icon]="fa.signout" size="lg"></fa-icon>
            <span class="nav-item-text">Sign Out</span>
        </li>
    </ul>
</nav>
